
body{
background-color: rgb(190, 190, 16);
}
td{
  padding: 10px;  
}
.me{
    text-decoration: underline;
}
header ul{
  float: left;
margin: 100px;
}
header li{
display: inline-block;
margin: 15px;
font-family: cursive;
border: orangered solid 10px;
padding: 10px;
border-radius: 4px;
}
.md{
width: 90pc;
}
header a{
  color: maroon;
  background-color: yellow;
  font-family: cursive;
}
#e{
  color: blue;
  background-color: bisque;
}
